VITE_SUPABASE_URL=https://zszvjdnuuhfandigquut.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzenZqZG51dWhmYW5kaWdxdXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NzA2NjYsImV4cCI6MjEwMzM0NjY2Nn0.2R6wh2cnZc8fKhTfl6MSacwF5qMe88Uvn4ZHwutEnG8

